<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>

<p>
  <Strong>Pending Appointments</Strong>
<table>
    <tr>
      <th>Patient</th>
      <th>Appointment</th>
      <th>Days Until Appointment</th>
    </tr>
  <% @specialist.appointments.each do |app| %>
     <tr>
       <td><%= app.patient.name %></td>
       <td><%= app.appointment_date %></td>
       <td>><%= app.days_until_appointment %></td>
     </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
